@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin header CSS */
header{
	font-variant: small-caps;
	margin-bottom: 3em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 3em;
}

header > p{
	text-align: center;
}

/* Bold all p-text categorized as titles */
header > p[epub|type~="title"]{
	font-size: 1.5em;
	font-weight: bold;
}

[epub|type~="title"]{
	font-weight: bold;
}
/* End header CSS */

/* Begin poetry CSS */
[epub|type~="z3998:verse"] > p,
[epub|type~="z3998:hymn"] > p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] > p > span,
[epub|type~="z3998:hymn"] > p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] > p > span + br,
[epub|type~="z3998:hymn"] > p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

article{
	break-after: page;
	page-break-after: always;
}

.selah{
	font-style: italic;
	text-align: right;
}
/* End poetry CSS */

/* Begin bible specific CSS */
/* Prevents all superscript from changing line height */
sup{
	font-size: 0.675em;
	line-height: 1.2;
	vertical-align: super;
	vertical-align: 35%;
}

h4{
	font-size: 1em;
}
/* End bible specific CSS */

/* Begin Reader's Edition */
sup{
	display: none;
}

section > h4{
	display: none;
}

section + section{
	margin-top: 1em;
}
/* End Reader's Edition */
